[data-JPs="slide-out-left"] {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #333;

  @media (min-width: $mq-medium) {
    font-size: 4rem;
  }
  
  span {
    display: inline-block;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  // When animation happens
  &.JPs-onload span,
  &.JPs-animate span {
    animation: slideLeftOut 1.5s forwards;
  }
}

@keyframes slideLeftOut {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  } 
}
